body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.name {
    color: #FF9900;
}

.highlighted-name {
    color: #FF9900;
    font-weight: bold;
}

.trainer {
    font-weight: bold;
}

.curriculum {
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif; /* Example of a stylish font */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.teacher-image {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
}

